/* servem para tirar margens e espacamentos que os navegadores colocam*/ 
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.estrutura {
    background-color: bisque;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.titulo {
    margin-bottom: 20px;
    font-size: 24px;
}

.input {
    padding: 10px;
    font-size: 16px;
    width: 220px;
    margin-bottom: 10px;
}

.enviar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}