<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blog - Resposta</title>
  <link rel="stylesheet" href="/CSS/atv8.css">
</head>
<body>
  <div class="container">
    <h1><%= resposta %></h1>
    <p><a href="<%= voltarPara %>">Voltar</a></p>
  </div>
</body>
</html>

